[user]
	name = Mike Perrone
	email = mike.j.perrone@gmail.com
[alias]
    oldbranches = for-each-ref --sort=-committerdate refs/heads/
    branches = branch --sort=-committerdate
    st = status
    cp = cherry-pick
    dc = diff --cached
    dn = diff --name-only
    cm = commit -m
    co = checkout
    ap = add -p
    ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
    ri = !sh -c 'git rebase -i `git merge-base master head`'
    delete = "!del() { git branch -D $1; git push origin :$1; }; del"
[color]
    ui = true
[core]
    excludesfile = ~/.gitignore_global
[push]
    default = simple
[pull]
    rebase = false