set completion-ignore-case On
set editing-mode vi

$if mode=vi
    set keymap vi-command
    "gg": beginning-of-history
    "G": end-of-history

# Be more intelligent when autocompleting by also looking at the text after
# the cursor. For example, when the current line is "cd ~/src/mozil", and
# the cursor is on the "z", pressing Tab will not autocomplete it to "cd
# ~/src/mozillail", but to "cd ~/src/mozilla". (This is supported by the
# Readline used by Bash 4.)
set skip-completed-text on
