"*":
  "autocomplete-plus":
    confirmCompletion: "tab"
  "bracket-matcher":
    autocompleteBrackets: false
  core:
    telemetryConsent: "no"
  editor:
    fontSize: 17
    scrollPastEnd: true
    themes: [
      "one-dark-ui"
      "solarized-dark-syntax"
    ]
  "exception-reporting":
    userId: "49be2ea0-8950-47cb-a664-bd661ae95837"
  "tree-view":
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
